{% extends 'base.html.twig' %}

{% block title %}Enchères{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="{{ asset('css/encheres.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<body onload="chargement()">
	<div id="page">
		<header id="BandeMenuHaut">
			<nav class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<span>
						<img id="XXX-brand-logo" alt="logo" src="{{ asset('images/icones/logo.png') }}" width="25" height="25">
					</span>
				</a>
			</nav>
			<nav class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<a href="{{ path('index') }}">Accueil</a>
					</li>

					<li class="dropdown">
						<a href="{{ path('encheres') }}">Enchères</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if app.user %}
						<li class="dropdown ">
							<div class="nbJetons" title="jetons restants">
								{{ nbJetons }}
							</div>
						</li>
						<li class="dropdown">
							<a href="{{ path('utilisateur_acheter') }}">Acheter des jetons <span class="glyphicon glyphicon-hand-left"></span></a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('utilisateur_historiqueEncheres') }}"><span class="glyphicon glyphicon-star"></span>Mes enchères</a></li>
								<li><a href="{{ path('utilisateur_achats') }}"><span class="glyphicon glyphicon-euro"></span>Mes achats</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{ path('app_logout') }}"><span class="glyphicon glyphicon-log-out"></span>Se déconnecter</a></li>
							</ul>
						</li>
					{% else %}
							<a href="{{ path('utilisateur_placer') }}" class="btn btn-primary btn-connexion-inscription" role="button">SE CONNECTER</a>
							<a href="{{ path('app_register') }}" class="btn btn-success btn-connexion-inscription" role="button">S'INSCRIRE</a>
					{% endif %}
				</ul>
			</nav>
		</header>
	
		<div id="icone-chargement">
			<img alt="icone chargement" src="{{ asset('images/icones/icone-chargement.gif') }}">
			<h3 id="texte-chargement">chargement des enchères</h3>
		</div>
		
		<div class="container" style="display:none">
			<section>
				<div class="form-group row">
					{% for enchere in encheres %}
						<div class="col-md-4 produits">
							<p class="text-temps-restant">Temps restant <span id="compte-a-rebours{{ enchere.id }}" class="compte-a-rebours"></span></p>
							<h1 class="descriptif">{{ enchere.produit.descriptif }}</h1>
							<h2 class="prix text-danger">{{ enchere.produit.prix }}€</h2>
							<div class="image"><img src="{{ asset(enchere.produit.image) }}" height="220px" alt="{{ enchere.produit.descriptif }}" /></div>
							<form action="{{ path('utilisateur_placer') }}" method="POST">
								<input class="prix-placer" type="number" placeholder="de 0.01€ à 500€" step="0.01" min="0.01" max="500" name="prix_mise" required>
								<button class="btn btn-warning button-placer-offre" name="id_enchere" value="{{ enchere.id }}">Placer une offre</button>
							</form>
						</div>
					{% else %}
						<p>Pas d'encheres</p>
					{% endfor %}
				</div>
			</section>
		</div>
		
		<footer>
			<h2>Copyright 2020 Licence Pro ADMS</h2>
		</footer>
	</div>
</body>
{% endblock %}

{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		/**
		 * Pour attendre que le compte à rebours soit afficher au chargement des enchères
		 * Sinon il risque de s'afficher 1s après l'affichage des enchères
		 */
		function chargement()
		{
			let temps=1500;
			setTimeout("document.getElementById('texte-chargement').innerHTML = '{{encheres|length}} enchères en cours';",temps-500);
			setTimeout("document.getElementById('icone-chargement').style.display='none';",temps); // masque l'icone de chargement au bout de 1,5s
			setTimeout("document.getElementsByClassName('container')[0].style.display='block';",temps+1); // affiche les enchères après masquage icone chargement
		}
	</script>
	
	<script>
		let lesEncheres = new Array({{encheres|length}});
		let indice = 0;
		{% for enchere in encheres %}
			lesEncheres[indice] = new Array();
			lesEncheres[indice].push("compte-a-rebours{{enchere.id}}"); // ajoute l'id de la div de l'enchère pour compte à rebours
			lesEncheres[indice].push("{{enchere.dateFin|date('Y-m-d H:i:s')}}"); // ajoute la date et heure de fin de l'enchère pour le décomptement
			indice++;
		{% endfor %}
		demarrer(); // démarre le temps
		
		function demarrer() {
			for(let i=0; i<lesEncheres.length; i++) {
				lesEncheres[i].push(setInterval(function(){ decompte(i); }, 1000)); // ajoute la valeur d'ID de la minuterie définie
			}																		 // pour pouvoir arrêter avec clearInterval() après que l'enchère est terminé
		}
		
		function terminer(idEnchere) {
			clearInterval(lesEncheres[idEnchere][2]); // Arrête le temps
			document.getElementById(lesEncheres[idEnchere][0]).innerHTML = "Enchère fermée"
		}
		
		function decompte(idEnchere) {
			let date_courant = new Date();
			let date_fin = new Date(lesEncheres[idEnchere][1]);
			let diff = dateDiff(date_courant, date_fin);
			if(diff.sec < 0) terminer(idEnchere);
			else
			{
				let texte = diff.day+"j "+diff.hour+"h "+diff.min+"m "+diff.sec+"s";
				if(diff.day == 0)
					texte = diff.hour+"h "+diff.min+"m "+diff.sec+"s";
					
				if(diff.day == 0 && diff.hour == 0)
					texte = diff.min+"m "+diff.sec+"s";
					
				if(diff.day == 0 && diff.hour == 0 && diff.min < 10)
					document.getElementById(lesEncheres[idEnchere][0]).style.color = "red";
				
				document.getElementById(lesEncheres[idEnchere][0]).innerHTML = texte;
			}
		}
		
		function dateDiff(date1, date2){
			let diff = {}                           // Initialisation du retour
			let tmp = date2 - date1;
 
			tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
			diff.sec = tmp % 60;                    // Extraction du nombre de secondes

			tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
			diff.min = tmp % 60;                    // Extraction du nombre de minutes
 
			tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
			diff.hour = tmp % 24;                   // Extraction du nombre d'heures
     
			tmp = Math.floor((tmp-diff.hour)/24);   // Nombre de jours restants
			diff.day = tmp;
     
			return diff;
		}
	</script>
	
	<script>
		
	</script>
{% endblock %}

