{% extends 'base.html.twig' %}

{% block title %}Vos achats{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.css"/>
	<link href="{{ asset('css/historiqueEncheresEtAchats.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="page">
		<header id="BandeMenuHaut">
			<nav class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<span>
						<img id="XXX-brand-logo" alt="Brand" src="{{ asset('images/logo.png') }}" width="20" height="20">
					</span>
				</a>
			</nav>
			<nav class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<a href="{{ path('index') }}">Accueil</a>
					</li>

					<li class="dropdown">
						<a href="{{ path('encheres') }}">Enchères</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown ">
						<div class="nbJetons" title="jetons restants">
							{{ nbJetons }}
						</div>
					</li>
					<li class="dropdown">
						<a href="{{ path('utilisateur_acheter') }}">Acheter des jetons <span class="glyphicon glyphicon-hand-left"></span></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('utilisateur_historiqueEncheres') }}"><span class="glyphicon glyphicon-star"></span>Mes enchères</a></li>
							<li><a href="{{ path('utilisateur_achats') }}"><span class="glyphicon glyphicon-euro"></span>Mes achats</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{ path('app_logout') }}"><span class="glyphicon glyphicon-log-out"></span>Se déconnecter</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
	
		<div class="container">
			<section>
				<h1>Vos achats</h1>
				<table class="table display">
					<thead>
						<tr>
							<th>Date</th>
							<th>Achat</th>
							<th>Prix</th>
						</tr>
					</thead>
					<tbody>
					{% for achat in achats %}
						<tr>
							<td>{{ achat.dateAchat|date('d/m/Y H:i:s') }}</td>
							<td>{{ achat.packJetons.description }}</td>
							<td>{{ achat.packJetons.prix }} €</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">Vous n'avez pas d'achat</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</section>
		</div>
		<footer>
			<h2>Copyright 2020 Licence Pro ADMS</h2>
		</footer>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
	<script> 
		$(document).ready( function () {
			$('.table').DataTable();
		});
	</script>
{% endblock %}
