{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.css"/>
	<link href="{{ asset('css/mon_style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="unit w-2-3">
	<div class="hero-callout">
	<div class="mb-3">
		You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    <h1>Utilisateur index</h1>
	<div class="dataTables_wrapper">

    <table class="table display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Pseudo</th>
				<th>Rôle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.pseudo }}</td>
				<td>{{ utilisateur.role }}</td>
                <td>
                    <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateur_new') }}">Create new</a>
	</div>
	</div>
	</div>
	{% block javascripts %}
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
		<script> 
			$(document).ready( function () {
				$('.table').DataTable();
			});
		</script>
	{% endblock %}
{% endblock %}
