{% extends 'base.html.twig' %}

{% block title %}Bienvenue aux Enchères{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="{{ asset('css/mon_style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div id="container-principal">
		<header>
			<nav>
			{% if app.user %}
				<a href="{{ path('app_logout') }}" class="btn btn-danger" role="button">SE DECONNECTER</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="btn btn-success" role="button">SE CONNECTER</a>
				<a href="{{ path('app_register') }}" class="btn btn-primary" role="button">S'INSCRIRE</a>
			{% endif %}
			</nav>
		</header>
		<div id="container-section">
		<section class="form-group row"> <!-- utiliser col pour placer les produit (bootstrap) -->
			{% for enchere in encheres %}
			<div class="col-md-4 produits">
				{#<p>{{ enchere.dateDebut.format('d-m-Y H:i:s') }}</p>
				<p>{{ enchere.dateFin.format('d-m-Y H:i:s') }}</p>#}
				<h1 class="descriptif">{{ enchere.produit.descriptif }}</h1>
				<h2 class="prix">{{ enchere.produit.prix }}€</h2>
				<div class="image"><img src="{{ asset(enchere.produit.image) }}" width="140px" height="250px" alt="{{ enchere.produit.descriptif }}" /></div>
				<input class="prix-placer" type="number" step="0.01" min="0.01" max="500" name="name" required minlength="4" maxlength="8" size="10">
				<a href="{{ path('app_login') }}" class="btn btn-warning button-placer-offre" role="button">Placer une offre</a>
			</div>
			{% else %}
				<p>Pas d'encheres</p>
			{% endfor %}
		</section>
		</div>
		<footer>
			<h2>Copyright 2020 Licence Pro ADMS</h2>
		</footer>
	</div>
	{% block javascripts %}{% endblock %}
{% endblock %}
